Flask==2.0.1
Flask-Cors==3.0.10
gunicorn ==20.1.0
numpy
flask-mongoengine==1.0.0
requests
Werkzeug==2.2.2
langchain_community
faiss-cpu
sentence-transformers
xformer
sqlparse
langchain
langchain-huggingface
#google-generativeai
pandas